*.aux
*.glob
*.vo
*.vok
*.vos
*.cmi
*.cmo
*.cmx
*.o
*.lia.cache
/patricia-test
/patricia-union-test
/patricia-differential-test
/patricia-benchmark
/patricia-union-profile
/extracted/
/reference_extracted/
